# while loop, break, continue

### 1. break : break이 포함된 가장 가까운 반복문(break) 종료

In [1]:
n = 1

while n < 10:
    print(n, end = ' ')
    
    if n == 5:
        break
    n += 1

1 2 3 4 5

### 2. continue : 다음 iteration 수행

In [2]:
n = 1

while n <= 10:
    print(n, end = ' ')
    
    if n == 5:
        n += 1
        continue
    
    n += 1

1 2 3 4 5 6 7 8 9 10

### 문제 1. 주사위 2개를 던져 나오는 눈의 조합(36가지) 저장 리스트 dice 생성
while loop 사용

In [4]:
dice = []
i = 1

while i <= 6:
    j = 1
    
    while j <= 6:
        dice.append((i,j))
        j += 1
        
    i += 1
    
print(dice)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

### 문제 2. 주사위를 두 번 던져, 눈의 합이 10 이상인 결과만을 추출

In [5]:
dice = []
i = 1

while i <= 6:
    j = 1
    while j <= 6:
        if i + j >= 10:
            dice.append((i,j))
            j += 1
            
        else:
            j += 1
    i += 1
    
print(dice)

[(4, 6), (5, 5), (5, 6), (6, 4), (6, 5), (6, 6)]

### 문제 3. 1+2+3+4+...+99+100

In [6]:
x = 1
sum = 0

while x <= 100:
    sum += x
    x += 1
    
print(sum)

5050

### 문제 4. 1+4+9+16+...+100

In [7]:
x = 1
sum = 0

while x <= 10:
    sum += (x ** 2)
    x += 1
    
print(sum)

385

### 문제 5. 1+4+9+...+n**2 <=200인 최대 정수 n 구하기

In [9]:
x = 1
sum = 0

while sum <= 200:
    sum += x ** 2
    x += 1
    
print(f'x = {x - 1}, sum = {sum - (x ** 2)}')

x = 8, sum = 123

# 무한루프(infinite loop), break

while loop에 break 또는 조건을 넣지 않으면, 무한루프에 빠질 수 있다.
while문은 무한루프를 만들기 쉽다.

In [10]:
while True:
    
    print('hello')
    break

hello