In [42]:
friends=[input('이름을 입력해주세요1:'), input('이름을 입력해주세요2:'), input('이름을 입력해주세요3:')]
for friend in friends:
    print(f'Happy New Year! {friend}')
print('Done!')

이름을 입력해주세요1:Asteria
이름을 입력해주세요2:Nostelgia
이름을 입력해주세요3:Cranya
Happy New Year! Asteria
Happy New Year! Nostelgia
Happy New Year! Cranya
Done!

In [43]:
total=0
for itervar in [3,4,2,12,84,12]:
    total=total+itervar
print(f'Total:{total}')

Total:117

In [47]:
largest=None
print(f'Before:{largest}')
for itervar in [20,301,3024,14328903,39393,2342341]:
      if largest is None or itervar>largest:
          largest=itervar
      print(f'Loop:{itervar},{largest}')
print(f'Largest: {largest}')

Before:None
Loop:20,20
Loop:301,301
Loop:3024,3024
Loop:14328903,14328903
Loop:39393,14328903
Loop:2342341,14328903
Largest: 14328903

In [48]:
smallest=None
print(f'Before:{smallest}')
for itervar in [3,41,12,9,74,15]:
    if smallest is None or itervar<smallest:
        smallest=itervar
    print(f'Loop:{itervar},{smallest}')
print(f'Smallest:{smallest}')

Before:None
Loop:3,3
Loop:41,3
Loop:12,3
Loop:9,3
Loop:74,3
Loop:15,3
Smallest:3

# 내장함수 min()을 간략히 구현한 버전
def min(values):
    smallest=None
    for value in values:
        if smallest is None or value<smallest:
            smallest=value
        return smallest

# 반복문(iteration) For

## for 변수 in 반복실행블록

* 반복 가능한 데이터 타입(iterable-type) : range, list, tuple, dict, set, str, ...

In [1]:
string='Hello'
for x in string:
    print(x)

H
e
l
l
o

In [2]:
string=input('문자를 입력해 주세요:>')
for x in string:
    print(x)

문자를 입력해 주세요:>가쓰오부시는 맛있어
가
쓰
오
부
시
는

맛
있
어

#### range(a,b) : a이상 b미만(a,b] 에서 1씩 증가하는 정수들의 범위.
#### range(b) : 0으로부터 b미만까지 1씩 증가하는 정수들의 범위
#### range(a,b,c) : a이상 b미만까지 c씩 증가하는 정수들의 범위
for x in range(1,6) : (1,2,3,4,5) 가 될 것이다.

In [3]:
for x in range(1,10,3):
    print(x)

1
4
7

In [4]:
for x in range(5):
    print(x)

0
1
2
3
4

In [7]:
# 0 이상 10 미만의 짝수들만 출력하기
for x in range(0,10):
    if x%2==0:
        print(x)

0
2
4
6
8

In [8]:
for x in range(0,5):
    print(2*x)

0
2
4
6
8

## print()의 인수 :

#### end='\n' : 줄바꿈(enter)이 기본값
#### sep=' ': 공백(space) 1개가 기본값.
* '\n' : new line. 줄바꿈. 키보드의 Enter.
* '\t' : tabl. 탭. 키보드의 탭. 거리가 일정함
* ' ' : space. 공백.

## 문제1 : 동요 부르기. 아래와 같이 출력되도록 코드 작성
1 little 2 little 3 little indian
4 little 5 little 6 little indian
7 little 8 little 9 little indian
10 little indian boys!

In [12]:
for x in range(1,11):
    print(f'{x} little', end=' ')
    if x%3==0:
        print()
print('indian boys!')

1 little 2 little 3 little
4 little 5 little 6 little
7 little 8 little 9 little
10 little indian boys!

## 문제2. 369 게임 출력 코드 작성
1 2 * 4 5 * 7 8 * 10
11 12 * 14 15 * 17 18 * 20
....
81 82 * 84 85 * 87 88 * *
* * * * * * * * * 100

In [16]:
for x in range(1,101):
    if x%10 in (3,6,9) or x//10 in (3,6,9):
        print('*', end='\t')
    else:
        print(x,  end='\t')
    if x%10==0:
        print()

1	2	*	4	5	*	7	8	*	10
11	12	*	14	15	*	17	18	*	20
21	22	*	24	25	*	27	28	*	*
*	*	*	*	*	*	*	*	*	40
41	42	*	44	45	*	47	48	*	50
51	52	*	54	55	*	57	58	*	*
*	*	*	*	*	*	*	*	*	70
71	72	*	74	75	*	77	78	*	80
81	82	*	84	85	*	87	88	*	*
*	*	*	*	*	*	*	*	*	100

## 문제3 : 삼각형 그리기

In [18]:
for x in range(1,10):
    if x<=5:
        print('*'*x)
    else:
        print('*'*(10-x))

*
**
***
****
*****
****
***
**
*

## 문제4 : 구구단 1~9단 출력
2x1=2
2x2=4
...
9x9=81

In [26]:
for x in range(1,10):
    for dan in range(2,10):
        print(f'{dan}x{x}={dan*x}', end='\t')
    print()

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

## 문제5 : 구구단 1~9단 출력 변형
2x1=2 2x2=4
3x1=3 3x2=6 3x3=9

...
9x1=9 9x2=18 .... 9x9=81

In [29]:
for dan in range(2,10):
    for x in range(1,dan+1):
        print(f'{dan}x{x}={dan*x}', end='\t')
    print()

2x1=2	2x2=4
3x1=3	3x2=6	3x3=9
4x1=4	4x2=8	4x3=12	4x4=16
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36
7x1=7	7x2=14	7x3=21	7x4=28	7x5=35	7x6=42	7x7=49
8x1=8	8x2=16	8x3=24	8x4=32	8x5=40	8x6=48	8x7=56	8x8=64
9x1=9	9x2=18	9x3=27	9x4=36	9x5=45	9x6=54	9x7=63	9x8=72	9x9=81

# Break, Continue

* break : iteration 종료. break이 포함된 가장 가까운 반복문을 빠져나온다.
* continue : (반복문 블록 내부 실행문 수행을 멈추고) 다음 iteration을 수행한다.

In [31]:
for dan in range(2,10):
    for x in range(1,10):
        print(f'{dan}x{x}={dan*x}', end='\t')
        if dan==x:
            break
    print()

2x1=2	2x2=4
3x1=3	3x2=6	3x3=9
4x1=4	4x2=8	4x3=12	4x4=16
5x1=5	5x2=10	5x3=15	5x4=20	5x5=25
6x1=6	6x2=12	6x3=18	6x4=24	6x5=30	6x6=36
7x1=7	7x2=14	7x3=21	7x4=28	7x5=35	7x6=42	7x7=49
8x1=8	8x2=16	8x3=24	8x4=32	8x5=40	8x6=48	8x7=56	8x8=64
9x1=9	9x2=18	9x3=27	9x4=36	9x5=45	9x6=54	9x7=63	9x8=72	9x9=81