# file - with open as - csv - module 연습
* apt_201910.csv 파일 사용

### 1. 파일 경로 생성

In [3]:
import os

In [4]:
dir_path='E:/git_github_regenesis90/'
file_name='apt_201910.csv'
file_path=os.path.join(dir_path, file_name)
print(file_path)

E:/git_github_regenesis90/apt_201910.csv

### 2. 파일 열기, 리스트로 만들기 : csv.reader()

In [5]:
import csv

In [8]:
with open(file_path, mode='r', encoding='cp949') as f:
    reader=csv.reader(f)
    apt_data=[row for row in reader]
apt_data[:2] #> 상위 5개 행만 조회

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '면적',
  '계약년월',
  '계약일',
  '가격',
  '층',
  '건축년도',
  '도로명'],
 ['강원도 강릉시 견소동',
  '202',
  '202',
  '0',
  '송정한신',
  '59.8',
  '201910',
  '4',
  '10,900',
  '5',
  '1997',
  '경강로2539번길 8']]

### 3. 숫자 데이터는 정수로 변환하기

In [10]:
for i, row in enumerate(apt_data):
    for j,val in enumerate(row):
        try:
            apt_data[i][j]=int(val.replace(',','')) #> 값을 정수로 변환해 보고, 에러 없을 시 저장
        except:
            try:
                apt_data[i][j]=float(val.replace(',','')) #> 에러 없을 시 값을 실수로 변환
            except:
                pass #> 실수 변환도 불가능할 경우, 아무것도 하지 않음
apt_data[:2]

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '면적',
  '계약년월',
  '계약일',
  '가격',
  '층',
  '건축년도',
  '도로명'],
 ['강원도 강릉시 견소동',
  202,
  202,
  0,
  '송정한신',
  59.8,
  201910,
  4,
  10900,
  5,
  1997,
  '경강로2539번길 8']]

### 4. 가격(idx:8)이 최대값인 레코드 출력
* 가격 최대값 찾기
* 전체 데이터 중 가격이 최대값과 일치하는 레코드 출력하기

#### 1) 가격 최대값 찾기 : apt_data에서 '가격'만 1차원 리스트로 생성(컬럼 이름 제외) 후 최대값 출력

In [13]:
apt_price=[]
for i, row in enumerate(apt_data):
    if i>=1:
        apt_price.append(row[8])
apt_price[:5]

[10900, 18500, 25000, 20600, 20500]

In [15]:
max_price=max(apt_price)
print(max_price)

485000

#### 2) 가격이 최대값(max_price)인 레코드 찾기

In [16]:
apt_max_price=[apt_data[0]]
for row in apt_data[1:]:
    if row[8]==max_price:
        apt_max_price.append(row)
apt_max_price

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '면적',
  '계약년월',
  '계약일',
  '가격',
  '층',
  '건축년도',
  '도로명'],
 ['서울특별시 용산구 한남동',
  810,
  810,
  0,
  '한남더힐',
  233.062,
  201910,
  24,
  485000,
  4,
  2011,
  '독서당로 111']]

### 5. 가격이 최소값인 레코드 찾기
* 최소 가격 찾기
* 가격이 최소값인 레코드 찾기

#### 1) 최소 가격 min_price 찾기 : 가격으로 이루어진 리스트를 먼저 찾기

In [17]:
prices=[]
for row in apt_data[1:]:
    prices.append(row[8])
prices[:5]

[10900, 18500, 25000, 20600, 20500]

In [18]:
min_price=min(prices)
print(min_price)

600

#### 2) 최소 가격인 레코드 찾기

In [19]:
apt_min_price=[apt_data[0]]
for row in apt_data[1:]:
    if row[8]==min_price:
        apt_min_price.append(row)
apt_min_price

[['시군구',
  '번지',
  '본번',
  '부번',
  '단지명',
  '면적',
  '계약년월',
  '계약일',
  '가격',
  '층',
  '건축년도',
  '도로명'],
 ['경상북도 구미시 원평동',
  '937-68',
  937,
  68,
  '원평주공',
  40.32,
  201910,
  7,
  600,
  4,
  1984,
  '칠성로2길 16']]

### 6. apt_data에서 '시군구', '단지명', '면적', '가격', '층', 건축년도 6개 컬럼만 선택한 2차원 리스트 생성
* idx : 0,4,5,8,9,10

In [21]:
header=apt_data[0]

In [22]:
apt_data_short1=[]
for row in apt_data:
    selected=[row[header.index('시군구')],
             row[header.index('단지명')],
             row[header.index('면적')],
             row[header.index('가격')],
             row[header.index('층')],
             row[header.index('건축년도')]]
    apt_data_short1.append(selected)
apt_data_short1[:5]

[['시군구', '단지명', '면적', '가격', '층', '건축년도'],
 ['강원도 강릉시 견소동', '송정한신', 59.8, 10900, 5, 1997],
 ['강원도 강릉시 견소동', '송정한신', 116.175, 18500, 10, 1997],
 ['강원도 강릉시 견소동', '송정해변신도브래뉴아파트', 84.99, 25000, 6, 2005],
 ['강원도 강릉시 견소동', '송정해변신도브래뉴아파트', 84.99, 20600, 3, 2005]]

### 7. apt_data_short1에서, 시군구가 '강원도'이고 가격이 '30000'이상인 레코드 찾기

In [23]:
apt_data_gangwon_over30000=[apt_data_short1[0]]
for row in apt_data_short1[1:]:
    if row[0].strip().startswith('강원도') and row[3]>=30000:
        apt_data_gangwon_over30000.append(row)
apt_data_gangwon_over30000

[['시군구', '단지명', '면적', '가격', '층', '건축년도'],
 ['강원도 강릉시 교동', '강릉교동롯데캐슬1단지', 135.1727, 34300, 9, 2009],
 ['강원도 강릉시 교동', '강릉교동롯데캐슬2단지', 118.0686, 32500, 2, 2009],
 ['강원도 강릉시 교동', '교동이-편한세상', 123.7566, 32500, 3, 2006],
 ['강원도 강릉시 송정동', '강릉송정 한신더휴', 84.961, 30000, 20, 2019],
 ['강원도 강릉시 홍제동', '우미린아파트', 84.9843, 34200, 18, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 84.9871, 34000, 20, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 84.9871, 34900, 8, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 84.9819, 35400, 12, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 78.4089, 30000, 15, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 84.9843, 33900, 19, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 84.9871, 32800, 4, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 78.4089, 31000, 10, 2016],
 ['강원도 강릉시 홍제동', '우미린아파트', 84.9819, 34500, 12, 2016],
 ['강원도 속초시 동명동', 'e편한세상 영랑호', 84.9439, 36800, 25, 2017],
 ['강원도 속초시 동명동', 'e편한세상 영랑호', 84.9147, 34500, 24, 2017],
 ['강원도 속초시 동명동', 'e편한세상 영랑호', 84.9439, 30000, 12, 2017],
 ['강원도 속초시 동명동', 'e편한세상 영랑호', 84.9147, 36500, 18, 2017],
 ['강원도 속초시 청호동', '속초청호아이파크', 84.82, 39000, 14, 2018],
 ['강원도 속초시 청호동', '속초청호아이파크', 84.94, 45800, 19, 2018],
 ['강원도 속초시 청호동', '속초청호아이파크', 75.97, 30800, 4, 2018],
 ['강원도 원주시 단계동', '원주봉화산푸르지오', 84.8617, 32500, 26, 2017],
 ['강원도 원주시 무실동', '무실e-편한세상', 124.1326, 37000, 7, 2009],
 ['강원도 원주시 무실동', '무실e-편한세상', 153.7215, 44600, 14, 2009],
 ['강원도 원주시 반곡동', '원주반곡아이파크', 158.4784, 40700, 11, 2008],
 ['강원도 원주시 반곡동', '힐데스하임 5단지', 84.9593, 30000, 10, 2015],
 ['강원도 원주시 반곡동', '힐데스하임 5단지', 84.9593, 31000, 18, 2015],
 ['강원도 원주시 반곡동', '힐데스하임 5단지', 84.9593, 30950, 9, 2015],
 ['강원도 원주시 판부면 서곡리', '원주더샾아파트', 157.316, 34000, 5, 2006],
 ['강원도 춘천시 석사동', '현진에버빌2차', 91.36, 30000, 14, 2005],
 ['강원도 춘천시 석사동', '현진에버빌2차', 126.25, 35500, 13, 2005],
 ['강원도 춘천시 석사동', '현진에버빌2차', 126.25, 31200, 6, 2005],
 ['강원도 춘천시 석사동', '현진에버빌2차', 108.17, 30300, 4, 2005],
 ['강원도 춘천시 소양로2가', 'e편한세상 춘천', 104.796, 32100, 12, 2014],
 ['강원도 춘천시 온의동', '온의 롯데캐슬 스카이클래스', 99.629, 44000, 35, 2015],
 ['강원도 춘천시 온의동', '온의 롯데캐슬 스카이클래스', 99.629, 42900, 14, 2015],
 ['강원도 춘천시 우두동', '롯데인벤스', 173.7, 36500, 9, 2006],
 ['강원도 춘천시 퇴계동', '유승한내들', 116.6708, 32500, 15, 2006],
 ['강원도 춘천시 퇴계동', '휴먼시아남춘천1단지', 121.95, 34000, 11, 2011],
 ['강원도 춘천시 퇴계동', '휴먼시아남춘천1단지', 101.87, 31500, 11, 2011],
 ['강원도 춘천시 후평동', '춘천더샵', 145.5773, 30900, 25, 2008],
 ['강원도 춘천시 후평동', '춘천일성트루엘더퍼스트', 84.995, 30400, 9, 2018],
 ['강원도 평창군 대관령면 수하리', '동계올림픽 선수촌 아파트', 84.923, 36000, 8, 2018]]

### 8. 시군구=서울, 가격이 30000이상 50000미만인 레코드 찾기 : apt_data_short1 사용

In [25]:
apt_data_seoul_3to5=[apt_data_short1[0]]
for row in apt_data_short1[1:]:
    if row[0].strip().startswith('서울') and row[3]>=30000 and row[3]<50000:
        apt_data_seoul_3to5.append(row)
apt_data_seoul_3to5[:5]

[['시군구', '단지명', '면적', '가격', '층', '건축년도'],
 ['서울특별시 강남구 대치동', '아름빌(889-74)', 30.46, 30000, 5, 2003],
 ['서울특별시 강남구 도곡동', '현대비젼21', 33.1, 31800, 14, 1999],
 ['서울특별시 강남구 역삼동', '한화진넥스빌', 43.58, 38000, 26, 2001],
 ['서울특별시 강동구 길동', 'SM해그린12차', 84.56, 47000, 2, 2006]]

### 9. apt_data_seoul_3to5 리스트를 csv 파일로 저장하기

In [26]:
import csv

In [27]:
with open('apt_data_seoul_3to5.csv', mode='w') as f:
    writer=csv.writer(f)
    writer.writerows(apt_data_seoul_3to5)