In [2]:
import pandas as pd

# CSV 파일을 불러와 pd.DataFrame으로 만들기

In [3]:
file_path='https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex1.csv'
ex1_df=pd.read_csv(file_path)

In [4]:
ex1_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

# DataFrame의 구조 파악하기

In [5]:
type(ex1_df)

pandas.core.frame.DataFrame

In [6]:
ex1_df.shape

(3, 5)

In [7]:
ex1_df.columns

Index(['a', 'b', 'c', 'd', 'message'], dtype='object')

In [8]:
ex1_df.index

RangeIndex(start=0, stop=3, step=1)

In [9]:
# pd.read_csv()가 파일의 데이터들을 스스로 적절한 데이터 타입으로 변환했음을 알 수 있다.
ex1_df.dtypes

a           int64
b           int64
c           int64
d           int64
message    object
dtype: object

# 컬럼 이름이 없는 CSV 파일을 불러오는 경우
* `pd.read_csv()` 함수는 csv 파일의 첫째 행을 컬럼 이름으로 생각함
* 만약 컬럼 이름이 없는 csv 파일인 경우, **header=None** 인수를 추가해 주어야 함
* **header=None** 인수 추가 시 : 임의의 컬럼 이름이 생겨나게 됨

## header=None

In [10]:
file_path='https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex2.csv'
ex2=pd.read_csv(file_path, header=None)
ex2

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

## header=None으로 만든 컬럼이름을 개별 지정

In [11]:
ex2=pd.read_csv(file_path, header=None,
               names=['a','b','c','d','msg'])
ex2

   a   b   c   d    msg
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
# ex2 데이터프레임에서 msg 컬럼(변수)만 선택 시
ex2['msg']

0    hello
1    world
2      foo
Name: msg, dtype: object