In [8]:
import pandas as pd
import numpy as np

# movies, ratings, users DF
* 각 파일을 읽어 데이터프레임 생성
* 이후 ratings-movies-users 데이터프레임을 merge
* 각 단계에서 inner join, left join 비교

In [5]:
movies_file='https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/movies.dat'
ratings_file='https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/ratings.dat'
users_file='https://github.com/wesm/pydata-book/raw/2nd-edition/datasets/movielens/users.dat'

In [6]:
movies_col_names=['movie_id', 'title', 'genres']
ratings_col_names=['user_id', 'movie_id', 'rating', 'timestamp']
users_col_names=['user_id', 'gender', 'age', 'occupation', 'zip_code']

In [9]:
movies=pd.read_csv(movies_file, sep='::', encoding='cp1252',
                  header=None, names=movies_col_names,
                  engine='python')

In [13]:
ratings=pd.read_csv(ratings_file, sep='::', encoding='cp1252',
                    header=None, names=ratings_col_names,
                    engine='python')

In [14]:
users=pd.read_csv(users_file, sep='::', encoding='cp1252',
                 header=None, names=users_col_names,
                 engine='python')

In [10]:
movies.head()

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [11]:
movies.tail()

      movie_id                       title          genres
3878      3948     Meet the Parents (2000)          Comedy
3879      3949  Requiem for a Dream (2000)           Drama
3880      3950            Tigerland (2000)           Drama
3881      3951     Two Family House (2000)           Drama
3882      3952       Contender, The (2000)  Drama|Thriller

In [12]:
movies.shape

(3883, 3)

In [15]:
ratings.shape

(1000209, 4)

In [16]:
ratings.iloc[:5] #head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [17]:
ratings.iloc[-5:] #tail()

         user_id  movie_id  rating  timestamp
1000204     6040      1091       1  956716541
1000205     6040      1094       5  956704887
1000206     6040       562       5  956704746
1000207     6040      1096       4  956715648
1000208     6040      1097       4  956715569

In [18]:
users.shape

(6040, 5)

# ratings-movies merge

In [19]:
ratings_movies=pd.merge(left=ratings, right=movies,
                       how='inner', on='movie_id')

In [20]:
ratings_movies.shape

(1000209, 6)

In [21]:
pd.merge(left=ratings, right=movies, how='left').shape

(1000209, 6)

In [22]:
pd.merge(left=ratings, right=movies, how='outer').shape

(1000386, 6)

In [23]:
ratings_movies.head()

,user_id,movie_id,rating,timestamp,title,genres
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,One Flew Over the Cuckoo's Nest (1975),Drama

# ratings - movies - users merge

In [25]:
result=pd.merge(left=ratings_movies, right=users,
                how='inner', on='user_id')

In [26]:
result.shape

(1000209, 10)

In [27]:
result.head()

,user_id,movie_id,rating,timestamp,title,genres,gender,age,occupation,zip_code
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation|Children's|Musical,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical|Romance,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation|Children's|Comedy,F,1,10,48067