In [1]:
import numpy as np
import pandas as pd

# DataFrame 모양(shape) 변경
* wide(column) -> long(row)
* long(row) -> wide(column)

1. stack / unstack
2. pivot / melt
3. pivot_table

# stack/unstack

In [2]:
df=pd.DataFrame(data=np.arange(1,7).reshape((2,3)),
               columns=['a','b','c'],
               index=['A','B'])
df

   a  b  c
A  1  2  3
B  4  5  6

In [7]:
df2=pd.DataFrame(data=np.arange(1,13).reshape((2,6)),
                columns=[['A']*3+['B']*3,
                        ['a','b','c']*2])
df2

   A         B
   a  b  c   a   b   c
0  1  2  3   4   5   6
1  7  8  9  10  11  12

## stack
* **`DataFrame.Stack()` 메서드 사용**

In [3]:
df_stacked=df.stack()
df_stacked

A  a    1
   b    2
   c    3
B  a    4
   b    5
   c    6
dtype: int32

In [8]:
df2.stack() #level=1의 column들이 row index로 내려가버림.

     A   B
0 a  1   4
  b  2   5
  c  3   6
1 a  7  10
  b  8  11
  c  9  12

In [9]:
df2.stack(level=0) #level을 지정해 주면, 해당 level의 column들이 row index로 내려감.

      a   b   c
0 A   1   2   3
  B   4   5   6
1 A   7   8   9
  B  10  11  12

## unstack
* **`DataFrame.unstack()` 메서드 사용**

In [4]:
df_unstacked=df_stacked.unstack()
df_unstacked

   a  b  c
A  1  2  3
B  4  5  6

In [10]:
df2.unstack()

A  a  0     1
      1     7
   b  0     2
      1     8
   c  0     3
      1     9
B  a  0     4
      1    10
   b  0     5
      1    11
   c  0     6
      1    12
dtype: int32