In [1]:
import numpy as np
import pandas as pd

# pandas.Series의 concat
* **`pd.concat()` 함수 사용**

In [2]:
s1 = pd.Series(data = [1, 2], index = ['a', 'b'])
s1

a    1
b    2
dtype: int64

In [3]:
s2 = pd.Series(data = [3, 4, 5], index = ['c', 'd', 'e'])
s2

c    3
d    4
e    5
dtype: int64

## pd.concat(axis=0)

In [4]:
result = pd.concat([s1, s2], axis = 0) #axis의 기본값은 0이므로, axis=0은 생략 가능하다.
# axis=0은 행 방향이다.
result #> 결과도 pd.Series 인스턴스이다.

a    1
b    2
c    3
d    4
e    5
dtype: int64

## pd.concat(axis=1)

In [5]:
# axis=1 방향은 열 방향이다.
result = pd.concat([s1, s2], axis = 1)
result

     0    1
a  1.0  NaN
b  2.0  NaN
c  NaN  3.0
d  NaN  4.0
e  NaN  5.0

# pd.DataFrame의 concat

In [6]:
df1 = pd.DataFrame(data = np.arange(6).reshape((3, 2)),
                   index = ['a', 'b', 'c'],
                   columns = ['data1', 'data2'])
df1

   data1  data2
a      0      1
b      2      3
c      4      5

In [9]:
df2 = pd.DataFrame(data = np.arange(4).reshape((2, 2)),
                   index = ['a', 'c'],
                   columns = ['data2', 'data3'])
df2

   data2  data3
a      0      1
c      2      3

## pd.concat(axis=0)

In [10]:
pd.concat([df1, df2], axis = 0) # 행 방향으로 덧붙임

   data1  data2  data3
a    0.0      1    NaN
b    2.0      3    NaN
c    4.0      5    NaN
a    NaN      0    1.0
c    NaN      2    3.0

## pd.concat(axis=1)

In [11]:
pd.concat([df1, df2], axis = 1) #열 방향으로 덧붙임

   data1  data2  data2  data3
a      0      1    0.0    1.0
b      2      3    NaN    NaN
c      4      5    2.0    3.0