In [1]:
import pandas as pd

# 엑셀파일(xls, xlsx)을 DataFrame으로 불러오기
* **`pd.read_excel()` 함수 사용**

In [2]:
file_path = 'https://github.com/wesm/pydata-book/raw/2nd-edition/examples/ex1.xlsx'
ex1_xlsx_df = pd.read_excel(file_path)

* 엑셀 파일에서 **첫번째 행은 컬럼 이름**
* 엑셀 파일의 **첫번째 컬럼은 데이터가 아니라 행 번호**

In [3]:
ex1_xlsx_df
# 엑셀 파일에서 첫번째 행은 "컬럼 이름", 첫번째 컬럼은 데이터가 아닌 "행 번호"

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

# 행 번호가 컬럼같이 된 것을 없애고 싶을 경우
* **`index_col` 인수를 0으로 설정**

In [4]:
ex1_xlsx_df = pd.read_excel(file_path, index_col = 0)
ex1_xlsx_df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo