In [2]:
import numpy as np
import pandas as pd
import seaborn as sns

# pivot_table()

* **index** : pivoting을 할 때 row index로 설정할 컬럼들
* **columns** : pivoting을 할 떄 컬럼 이름으로 설정할 컬럼들
* **values** : pivoting을 해서 각 셀에 value로 설정할 컬럼들
* **aggfunc** : 집계함수(aggregating function). 기본값은 mean
    * median, max, min, count, ...

# Load data & Data Structure

In [3]:
tips = sns.load_dataset('tips')
tips.shape

(244, 7)

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

# pivot_table()을 사용한 그룹별 집계함수 값 구하기

In [5]:
# 성별 tip 평균
tips.pivot_table(index = 'sex', values = 'tip', aggfunc = 'mean')

             tip
sex
Male    3.089618
Female  2.833448

In [6]:
# 만약에 pivot_table을 쓰지 않고 성별 tip 평균을 구하려면...
print('male:', tips[tips['sex'] == 'Male']['tip'].mean())
print('female:', tips[tips['sex'] == 'Female']['tip'].mean())

male: 3.0896178343949052
female: 2.833448275862069

In [7]:
# 요일별 tip 평균
tips.pivot_table(index = 'day', values = 'tip')

           tip
day
Thur  2.771452
Fri   2.734737
Sat   2.993103
Sun   3.255132

In [8]:
# 성별(index), 시간별(columns) tip 평균(value/aggfunc)
tips.pivot_table(index = 'sex', columns = 'time', values = 'tip')

time       Lunch    Dinner
sex
Male    2.882121  3.144839
Female  2.582857  3.002115

In [10]:
# 성별(index), 시간별(columns) tip 평균(value/aggfunc)에 stack 메서드 적용 시
tips.pivot_table(index = 'sex', columns = 'time', values = 'tip').stack()

sex     time
Male    Lunch     2.882121
        Dinner    3.144839
Female  Lunch     2.582857
        Dinner    3.002115
dtype: float64

In [11]:
tips.pivot_table(index = ['sex', 'time'], values = 'tip')

                    tip
sex    time
Male   Lunch   2.882121
       Dinner  3.144839
Female Lunch   2.582857
       Dinner  3.002115

In [12]:
# 성별, 흡연여부별 tip 평균
tips.pivot_table(index = 'sex', columns = 'smoker', values = 'tip')

smoker       Yes        No
sex
Male    3.051167  3.113402
Female  2.931515  2.773519

In [13]:
# 성별, 흡연여부별 tip 평균
tips.pivot_table(columns = ['smoker', 'sex'], values = 'tip')

smoker       Yes                  No
sex         Male    Female      Male    Female
tip     3.051167  2.931515  3.113402  2.773519

In [15]:
# 성별 tip의 최대값, 최소값
df = tips.pivot_table(index = 'sex', values = 'tip', aggfunc = ['max', 'min'])
df

         max  min
         tip  tip
sex
Male    10.0  1.0
Female   6.5  1.0

In [17]:
print(df.columns.levels)
print(df.columns.nlevels)

[['max', 'min'], ['tip']]
2

In [18]:
# 성별, 요일별 tip의 최대값, 최소값
tips.pivot_table(index = 'sex', columns = 'day', values = 'tip', aggfunc = ['max', 'min'])

         max                    min
day     Thur   Fri   Sat  Sun  Thur  Fri  Sat   Sun
sex
Male    6.70  4.73  10.0  6.5  1.44  1.5  1.0  1.32
Female  5.17  4.30   6.5  5.2  1.25  1.0  1.0  1.01

In [19]:
# 만약 pivot_table 대신 melt를 사용하는 경우
df.melt(ignore_index = False, var_name = ['agg', 'day'], value_name = 'tip')

        agg  day   tip
sex
Male    max  tip  10.0
Female  max  tip   6.5
Male    min  tip   1.0
Female  min  tip   1.0

In [20]:
tips.pivot_table(index = ['sex', 'day'], values = 'tip', aggfunc = ['max', 'min'])

               max   min
               tip   tip
sex    day
Male   Thur   6.70  1.44
       Fri    4.73  1.50
       Sat   10.00  1.00
       Sun    6.50  1.32
Female Thur   5.17  1.25
       Fri    4.30  1.00
       Sat    6.50  1.00
       Sun    5.20  1.01

In [21]:
# 성별, 흡연여부별, 요일별 tip 중앙값
tips.pivot_table(index = ['sex', 'smoker'], columns = 'day', values = 'tip', aggfunc = 'median')

day             Thur    Fri   Sat  Sun
sex    smoker
Male   Yes     2.780  2.600  3.00  3.5
       No      2.405  2.500  2.86  3.0
Female Yes     2.500  2.500  2.50  3.5
       No      2.000  3.125  2.75  3.5

In [22]:
# 성별, 흡연여부별, 요일별, 시간별 tip 중앙값
tips.pivot_table(index = ['sex', 'smoker'], columns = ['time', 'day'], values = 'tip', aggfunc = 'median')

time           Lunch       Dinner
day             Thur   Fri   Thur   Fri   Sat  Sun
sex    smoker
Male   Yes     2.780  1.92    NaN  3.00  3.00  3.5
       No      2.405   NaN    NaN  2.50  2.86  3.0
Female Yes     2.500  2.50    NaN  2.75  2.50  3.5
       No      2.000  3.00    3.0  3.25  2.75  3.5

In [23]:
# 요일별 손님 숫자
tips.pivot_table(index = 'day', values = 'size', aggfunc = 'sum')

      size
day
Thur   152
Fri     40
Sat    219
Sun    216

In [24]:
# 시간별, 요일별 손님 숫자
tips.pivot_table(index = 'day', columns = 'time', values = 'size', aggfunc = 'sum')

time  Lunch  Dinner
day
Thur    150       2
Fri      14      26
Sat       0     219
Sun       0     216

In [25]:
tips.pivot_table(columns = ['day', 'time'], values = 'size', aggfunc = 'sum')

day   Thur          Fri          Sat          Sun
time Lunch Dinner Lunch Dinner Lunch Dinner Lunch Dinner
size   150      2    14     26     0    219     0    216

In [26]:
tips.pivot_table(index = ['day', 'time'], values = 'size', aggfunc = 'sum')

             size
day  time
Thur Lunch    150
     Dinner     2
Fri  Lunch     14
     Dinner    26
Sat  Lunch      0
     Dinner   219
Sun  Lunch      0
     Dinner   216